.navbar {
    height: 40px;
    padding-top: 5px;
    font-weight: 300px;
    box-shadow: 0 3px 0px -1px rgb(0 0 0 / 0.1);
}

.breadcrumb-item {
    color: #0f489b;
}

.breadcrumb-item-active {
    color: #ecf0f8;
}

.arrow {
    color: #2f3941;
    padding: 0 5px;
    font-weight: 300;
}