.App {
  max-width: 90%;
  margin: 0px auto;
}

.tableContainer {
  padding: "20px";
  margin-top: "32px";
  background-color: "white";
  box-shadow: "rgba(149, 157, 165, 0.2) 0px 8px 24px";
}

.paginationContainer {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}